---
layout: page
title: Galerie
eleventyNavigation:
    key: Galerie
---

<div x-data="{open: false}">
    <button @click="open = !open">
        Affiche/Cache dialogue
    </button>
    <dialog :open="open">
        <div x-data="{imageUrl:null}">
            <ul>
                <li><img src="/assets/images/alladin.jpg" alt="aladin"
                         @click="imageUrl ='assets/images/alladin.jpg',"></li>
            </ul>

            <ul>
                <li><img src="/assets/images/cars.jpg" alt="aladin"
                         @click="imageUrl ='assets/images/cars.jpg',"></li>
            </ul>

            <div x-show="!!imageUrl" @click.away=""imageUrl="null">
                <img :src="imageUrl" alt="">
            </div>
        </div>
    </dialog>
</div>

